.sidenav {
    width: 100%;
    height: 100vh;
    border: 0;
  
  }
  .conten{
      margin: 10px;
  }
  .mat-drawer{
      border: 0;
      background: #aa00ff;
  }
  
  .btn-menu{
      height: 100px;
      font-size: 1.3em;
      border-radius: 0;
      border-bottom: 1px solid #ffffff;
      
  }
  .btn-menu:hover{
      color: #ffffff;
  }
  .active{
      background-color: #ea80fc;
  }