<mat-drawer-container class="sidenav">
        <mat-drawer mode="side" opened class="mat-drawer">
                    <div class="d-flex flex-column bd-highlight mb-3">
                            <button mat-button  class="btn btn-menu" [routerLink]="['/home']" routerLinkActive="active" >Home</button>
                            <button mat-button  class="btn btn-menu"  [routerLink]="['/cliente']" routerLinkActive="active">Cliente</button>
                            <button mat-button  class="btn btn-menu" [routerLink]="['/pedido']" routerLinkActive="active" >Pedido</button>
                            <button mat-button  class="btn btn-menu"  [routerLink]="['/fabrica']" routerLinkActive="active">Fabrica</button>
                            <button mat-button  class="btn btn-menu"  [routerLink]="['/articulo']" routerLinkActive="active">Articulo</button>

                    </div>
            
        </mat-drawer>
        <mat-drawer-content >
                <div class="container">
                        <router-outlet></router-outlet>
                </div>
            	
        </mat-drawer-content>
</mat-drawer-container>
