<div class="row">
	<div class="col-4">
			<mat-card  class="chart-contens-card" style="height: 100px;">
					<mat-card-header>
						<mat-card-title>Cantida  Productos  Vendidos</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content    >
						
					</mat-card-content>
				</mat-card>
	</div>
	<div class="col-4">
			<mat-card  class="chart-contens-card" style="height: 100px;">
					<mat-card-header>
						<mat-card-title>Cantida De Pedidos</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content    >
						
					</mat-card-content>
				</mat-card>
	</div>
	<div class="col-4">
			<mat-card  class="chart-contens-card" style="height: 100px;">
					<mat-card-header>
						<mat-card-title>Total   Ventas</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content    >
						
					</mat-card-content>
				</mat-card>
	</div>
	
</div>
<div class="row">
	<div class="col-8">
		<mat-card  class="chart-contens-card">
			<mat-card-header>
				<mat-card-title>Productos  Mas Vendidos</mat-card-title>
				<mat-card-subtitle>Dog Breed</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content    >
							
				<canvas baseChart
				[datasets]="barChartData"
				[labels]="barChartLabels"
				[options]="barChartOptions"
				[plugins]="barChartPlugins"
				[legend]="barChartLegend"
				[chartType]="barChartType">
				</canvas>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-4">
			<mat-card  class="chart-contens-card">
					<mat-card-header>
						<mat-card-title>Producto  Precio</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content>
						<mat-list>
							<mat-list-item> Pepper </mat-list-item>
							<mat-list-item> Salt </mat-list-item>
							<mat-list-item> Paprika </mat-list-item>
							<mat-list-item> Pepper </mat-list-item>
							<mat-list-item> Salt </mat-list-item>
							<mat-list-item> Paprika </mat-list-item>
							<mat-list-item> Paprika </mat-list-item>
						</mat-list>
					</mat-card-content>
				</mat-card>
	</div>
</div>

